
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>

<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form action="" method="post">
            <h2 class="text-center"><strong>Creer votre compte</strong></h2>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="password" name="confirmerPassword" placeholder="Confirmer password "></div>
            @if (!String.IsNullOrEmpty(ViewBag.error))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.error
                </div>
            }
            @if (!String.IsNullOrEmpty(ViewBag.error1))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.error1
                </div>
            }
            <div class="form-group"><button class="btn btn-info btn-block" type="submit">Sign Up</button></div>
        </form>
    </div>
</div>
        

